@model IEnumerable<ProyectoIHER.Models.Parametro>

@{
    ViewBag.Title = "Index";
}

<h2>Parametros</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParametroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParametroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ParametroID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ParametroID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ParametroID })
        </td>
    </tr>
}

</table>
