@model ProyectoIHER.Models.Objeto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro de borrar este registro?</h3>
<div>
    <h4>Objeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObejtoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObejtoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoObjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoObjeto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Objetos", "Index")
        </div>
    }
</div>
