@model ProyectoIHER.Models.Preguntas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Preguntas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PreguntaID }) |
    @Html.ActionLink("Preguntas", "Index")
</p>
